<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <aside class="aside_right" style="float: right;">
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <br>
  <div class='menu_line'></div>

  <div class="container">

    <div style="width: 100%; word-break: break-all;">
      <div style="position: relative;">
        <script th:inline="javascript">
          document.addEventListener('DOMContentLoaded', () => {
            
            const trashNo = /*[[${trashVO.trashno}]]*/ '0';
            let bookmarkIcon = document.getElementById('bookmark-icon');

            // 북마크 상태를 확인하는 함수
            function checkBookmark() {
              const goUrl = '/bookmark/check_trash';

              fetch(goUrl, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ trashno: trashNo }),
              })
                .then(response => response.json())
                .then(data => {
                  if (data.res == 1) {
                    bookmarkIcon.src = '/images/bookmark_enable.svg';
                  } else {
                    bookmarkIcon.src = '/images/bookmark_unable.svg';
                  }
                })
                .catch(error => console.error('Error:', error));
            }

            checkBookmark();

            document.getElementById('bookmark-icon').addEventListener('click', () => {

              let bookmarkIcon = document.getElementById('bookmark-icon');

              let url = '/trash/trash_read?trashno=' + trashNo;
              const data = { url: url, trashno: trashNo };

              // 2. bookmark 버튼 누르면
              // - 2. 북마크에 추가 안되 있다면 // 이미지 비활성화시
              //  - a. 북마크에 추가후
              //  - b. 이미지 변경
              // Check the current state of the bookmark icon
              if (bookmarkIcon.src.includes('/images/bookmark_unable.svg')) {
                goUrl = '/bookmark/create_trash?trashno=' + trashNo;
                fetch(goUrl, {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify(data),
                })
                  .then(response => response.json())
                  .then(data => {
                    if (data.res >= 1) {
                      // Update the bookmark icon to the enabled state
                      bookmarkIcon.src = '/images/bookmark_enable.svg';
                    } else {
                      console.error('Bookmark operation failed:', data.message);
                    }
                  })
                  .catch(error => {
                    alert("로그인을 하여야 북마크기능을 사용할 수 있습니다.");
                  });
              } else {
                // - 1. 북마크에 추가되어있지 않았다면
                //  - a. 북마크에 추가후
                //  - b. 이미지 변경                
                goUrl = '/bookmark/delete_trash';
                fetch(goUrl, {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify({ trashno: trashNo }),
                })
                  .then(response => response.json())
                  .then(data => {
                    if (data.res >= 1) {
                      bookmarkIcon.src = '/images/bookmark_unable.svg';
                      console.log('Bookmark is set, removing bookmark...');
                    } else {
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
              }
            });

          })

        </script>
        <div
          th:if="${trashVO.file1.endsWith('jpg') or trashVO.file1.endsWith('png') or trashVO.file1.endsWith('gif') or trashVO.file1.endsWith('jpeg')}">
          <img th:src="@{|/images/trash/storage/${trashVO.file1}|}" style='width: 100%; margin-bottom: 1rem;'>
          <img id="bookmark-icon" src="/images/bookmark_unable.svg" alt="Bookmark"
            style="position: absolute; top: 10px; left: 10px; width: 30px; height: 30px; cursor: pointer;">
        </div>
      </div>
    </div>

    <div style="width: 100%; word-break: break-all;">
      <hr>
      <span style="font-size: 1.5em; font-weight: bold;" th:text="${trashVO.name}"></span><br><br>
      <span style="font-size: 1em;" th:text="${trashVO.tag}"></span><br><br>
      <span style="font-size: 1em;" th:if="${trashVO.isrecycle == 'N'}">재활용: 불가능</span><br>
      <span style="font-size: 1em;" th:if="${trashVO.isrecycle == 'Y'}">재활용: 가능</span><br>
      <hr>
      <span style="font-size: 1.5em;">버리는 방법</span><br><br>
      <div style="white-space: pre-wrap;"><span th:text="${trashVO.process}"></span></div><br>
      <hr>
      <span style="font-size: 1.5em;">유의할 점</span><br><br>
      <div style="white-space: pre-wrap;"><span th:text="${trashVO.tip}"></span></div><br>
      <hr>
      <!-- <a th:href="@{|/singo/create?trashno=${trashVO.trashno}|}"> 수정 요청 </a> -->
      <button type="button" id="singo_btn">수정요청</button>

      <!-- 모달 구조 -->
      <div id="singo_modal" class="modal">
        <div class="modal-content">
          <span class="close" id="close_btn">&times;</span>
          <form name='frm' method='post' th:object="${singoVO}" action='/singo/create' enctype="multipart/form-data">
            <input type="hidden" name="trashno" th:value="${trashVO.trashno}" />
            <input type="hidden" name="memberno" th:value="${session.memberno}" />
            <div>
              <label>내용</label>
              <textarea name='contents' id="contents" required="required" class="form-control" rows="12"
                style='width: 100%;'></textarea>
            </div>
            <div>
              <label>이미지</label>
              <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
            </div>
            <div class="content_body_bottom">
              <button type="button" id="submit_btn" class="btn btn-secondary btn-sm">등록</button>
              <button type='button' id="cancel_btn" class="btn btn-secondary btn-sm">취소</button>
            </div>
          </form>
        </div>
      </div>

      <style>
        /* 모달 기본 스타일 */
        .modal {
          display: none;
          /* 기본적으로 보이지 않음 */
          position: fixed;
          /* 화면에 고정 */
          z-index: 1;
          /* 다른 콘텐츠보다 위에 위치 */
          left: 0;
          top: 0;
          width: 100%;
          /* 화면 전체를 덮음 */
          height: 100%;
          overflow: auto;
          /* 스크롤바 추가 */
          background-color: rgb(0, 0, 0);
          /* 검정 배경 */
          background-color: rgba(0, 0, 0, 0.4);
          /* 투명도 추가 */
        }

        /* 모달 콘텐츠 스타일 */
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          /* 화면 가운데 배치 */
          padding: 20px;
          border: 1px solid #888;
          width: 50%;
          /* 너비 */
        }

        /* 닫기 버튼 스타일 */
        .close {
          color: #aaa;
          position: absolute;
          /* 위치를 절대값으로 설정 */
          right: 20px;
          /* 모달 우측에서 20px 떨어지게 설정 */
          top: 10px;
          /* 모달 상단에서 10px 떨어지게 설정 */
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      </style>
      <script>
        window.onload = () => {
          const singo_btn = document.getElementById('singo_btn');
          const singo_modal = document.getElementById('singo_modal');
          const close_btn = document.getElementById('close_btn');
          const cancel_btn = document.getElementById('cancel_btn');
          const submit_btn = document.getElementById('submit_btn');
          const contents = document.getElementById('contents');
          const file1MF = document.getElementById('file1MF');

          // 수정 요청 버튼 클릭 시
          singo_btn.addEventListener('click', () => {
            let id = '[[${session.memberno}]]';
            if (id == '') {
              alert('수정 요청은 회원만 가능합니다.');
              location.href = "/member/login";
            } else {
              singo_modal.style.display = 'block';

            }
          });

          // 모달 닫기 버튼 클릭 시
          close_btn.addEventListener('click', () => {
            singo_modal.style.display = 'none';
            file1MF.value = '';
            contents.value = '';
          });

          // 폼 취소 버튼 클릭 시
          cancel_btn.addEventListener('click', () => {
            singo_modal.style.display = 'none';
            file1MF.value = '';
            contents.value = '';
          });

          // 모달 외부 클릭 시 모달 닫기
          window.addEventListener('click', (event) => {
            if (event.target == singo_modal) {
              singo_modal.style.display = 'none';
              file1MF.value = '';
              contents.value = '';
            }
          });

          // 등록 버튼 클릭 시
          submit_btn.addEventListener('click', async () => {
            // FormData 객체 생성
            const formData = new FormData();
            const cnt = document.getElementById('file1MF').files.length; //파일 개수
            // 폼 데이터 추가
            formData.append('trashno', '[[${trashVO.trashno}]]');
            formData.append('memberno', '[[${session.memberno}]]');
            formData.append('contents', contents.value);
            if(cnt>0){
              formData.append('file1MF', file1MF.files[0]); // 파일 첨부
            }

            // fetch 함수를 사용하여 서버에 POST 요청 전송
            await fetch('/singo/create', {
              method: 'POST',
              body: formData
            })
              .then((response) => response.json()) //응답 문자열  추출)
              .then((data) => {
                // 서버 응답 처리 
                alert('성공');
                // 성공적으로 처리되었을 경우, 모달 닫기
                singo_modal.style.display = 'none';
                file1MF.value = '';
                contents.value = '';
                // 성공 메시지 등을 처리할 수 있음
              })
              .catch(error => {
                // 오류 처리
                console.error('There has been a problem with your fetch operation:', error);
              });
          });


        };
      </script>

    </div>
    <br><br>
  </div>
</div>

</html>