<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <aside class="aside_right" style="float: right;">
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <br>
  <div class='menu_line'></div>

  <div class="container">
    
    <div style="width: 100%; word-break: break-all;">
      <div style="position: relative;">
        <script th:inline="javascript">
          document.addEventListener('DOMContentLoaded', () => {
          const trashNo = /*[[${trashVO.trashno}]]*/ '0';
          let bookmarkIcon = document.getElementById('bookmark-icon');
      
          // 북마크 상태를 확인하는 함수
          function checkBookmark() {
              const goUrl = '/bookmark/check_trash';
          
              fetch(goUrl, {
                  method: 'POST',
                  headers: {'Content-Type': 'application/json'},
                  body: JSON.stringify({trashno: trashNo}),
              })
              .then(response => response.json())
              .then(data => {
                  if (data.res == 1) {
                      bookmarkIcon.src = '/images/bookmark_enable.svg';
                  } else {
                      bookmarkIcon.src = '/images/bookmark_unable.svg';
                  }
              })
              .catch(error => console.error('Error:', error));
          }
      
          checkBookmark();
                
          document.getElementById('bookmark-icon').addEventListener('click', () => {
      
              let bookmarkIcon = document.getElementById('bookmark-icon');
      
              let url = '/trash/trash_read?trashno=' + trashNo;
              const data = {url: url, trashno: trashNo};
      
              // 2. bookmark 버튼 누르면
              // - 2. 북마크에 추가 안되 있다면 // 이미지 비활성화시
              //  - a. 북마크에 추가후
              //  - b. 이미지 변경
              // Check the current state of the bookmark icon
              if (bookmarkIcon.src.includes('/images/bookmark_unable.svg')) {
                goUrl = '/bookmark/create_trash?trashno=' + trashNo;
                fetch(goUrl, {
                  method: 'POST',
                  headers: {'Content-Type': 'application/json'},
                  body: JSON.stringify(data),
                })
                  .then(response => response.json())
                  .then(data => {
                    if (data.res >= 1) {
                      // Update the bookmark icon to the enabled state
                      bookmarkIcon.src = '/images/bookmark_enable.svg';
                    } else {
                      console.error('Bookmark operation failed:', data.message);
                    }
                  })
                  .catch(error => {
                    alert("로그인을 하여야 북마크기능을 사용할 수 있습니다.");
                  });
              } else {
                // - 1. 북마크에 추가되어있지 않았다면
                //  - a. 북마크에 추가후
                //  - b. 이미지 변경                
                  goUrl = '/bookmark/delete_trash';
                fetch(goUrl, {
                  method: 'POST',
                  headers: {'Content-Type': 'application/json'},
                  body: JSON.stringify({trashno: trashNo}),
                })
                  .then(response => response.json())
                  .then(data => {
                    if (data.res >= 1) {
                      bookmarkIcon.src = '/images/bookmark_unable.svg';
                      console.log('Bookmark is set, removing bookmark...');
                    } else {
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
              }
            });
      
        })

        </script>
        <div
          th:if="${trashVO.file1.endsWith('jpg') or trashVO.file1.endsWith('png') or trashVO.file1.endsWith('gif') or trashVO.file1.endsWith('jpeg')}">
          <img th:src="@{|/images/trash/storage/${trashVO.file1}|}" style='width: 100%; margin-bottom: 1rem;'>
          <img id="bookmark-icon" src="/images/bookmark_unable.svg" alt="Bookmark"
            style="position: absolute; top: 10px; left: 10px; width: 30px; height: 30px; cursor: pointer;">
        </div>
      </div>
    </div>

    <div style="width: 100%; word-break: break-all;">
      <hr>
      <span style="font-size: 1.5em; font-weight: bold;" th:text="${trashVO.name}"></span><br><br>
      <span style="font-size: 1em;" th:text="${trashVO.tag}"></span><br><br>
      <span style="font-size: 1em;" th:if="${trashVO.isrecycle == 'N'}">재활용: 불가능</span><br>
      <span style="font-size: 1em;" th:if="${trashVO.isrecycle == 'Y'}">재활용: 가능</span><br>
      <hr>
      <span style="font-size: 1.5em;">버리는 방법</span><br><br>
      <div style="white-space: pre-wrap;"><span th:text="${trashVO.process}"></span></div><br>
      <hr>
      <span style="font-size: 1.5em;">유의할 점</span><br><br>
      <div style="white-space: pre-wrap;"><span th:text="${trashVO.tip}"></span></div><br>
      <hr>
      <a th:href="@{|/singo/create?trashno=${trashVO.trashno}|}"> 수정 요청 </a>


    </div>
    <br><br>
  </div>
</div>

</html>