<!-- 확인용 파일 지울 예정 -->
<!DOCTYPE html>


  <div style="font-weight: bold; width: 70%; border: none;
  margin: 30px auto;
  text-align: center;
  background-color: #FAFAFA;
  padding: 30px;">
    <fieldset class="fieldset_basic">
      <ul>
        <li th:switch="${code}" class="li_none">
          <div th:case="signup_success">
            <span style="font-weight: bold;
            background: url('/css/images/url5.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; " th:text="|${name}(${id})님 회원 가입을 축하합니다.|"></span><br>
            <button type='button'
            onclick="location.href='/admin'"
                         class="btn btn-primary btn-sm">확인</button>
          </div>
          <div th:case="create_fail">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">회원 가입에 실패했습니다. 계속 문제가 발생하면 02-111-1111로 문의해주세요</span><br>
          </div>
          
          <div th:case="duplicate_fail">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">중복된 가입입니다.</span><br>
            수정된 회원 정보: <span th:text="${mname}"></span>
          </div>

          <div th:case="permission_error">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">권한이 없습니다.</span><br>
          </div>

          
      </ul>
    </fieldset>
  </div>
</div>
</html>


