<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <table class="table table-hover">
    <colgroup>
      <col style='width: 55%;' />
      <col style='width: 45%;' />
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">검색번호</th>
        <th class="th_bs">검색어</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="searchVO, status:${list}">
        <td class="td_bs" style="text-align: center;" th:text="${searchVO.search_word}"></td>
        <td class="td_bs" style="text-align: center;" th:text="${searchVO.search_cnt}"></td>
      </tr>
    </tbody>
  </table>
</div>