<!DOCTYPE html>

<html layout:decorate="~{admin/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line' style="font-size: 200%;">
     검색어 기록 삭제
  </div>
  
  <aside class="aside_right" style="float: right;">
    <a th:href="@{|./search_list_all|}">목록</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./search_delete?|}">삭제</a>
    <span class='menu_divide'>│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <br>
  <div class='menu_line'></div>
    
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style='text-align: left; width: 80%; float: left;'>
          <form name='frm' method='POST' action='./search_delete'>
             <div>
               <label>(입력한 숫자 * 7일)보다 이전의 데이터가 삭제됩니다.</label>
               <input type='number' name='weeks' value='' required="required" 
                         autofocus="autofocus" class="form-control" style='width: 15%;'>
            </div>
            <div style='text-align: left; margin: 10px auto;'>
                <span style="color: #FF0000; font-weight: bold;">
                  설정한 기간보다 이전에 존재하는 데이터를 모두 삭제하시겠습니까? 되돌릴 수 없습니다.</span>
                <br><br>
                <button type = "submit" class="btn btn-secondary btn-sm">삭제 진행</button>
                <button type = "button" onclick = "history.back()" class="btn btn-secondary btn-sm">취소</button>
              </div>   
          </form>
        </div>
      </li>
    </ul>
  </fieldset>

</div>
  