<!-- 검색 컨테이너 -->
<div th:fragment="search_fragment">
  <div style="margin-bottom: 40px;">
    <div style="margin: 25px 57px; display: flex; align-items: center; justify-content: center;
              font-family: 'Giants-Bold'; font-size: 25px;">
      <span class="second_header">쓰레기 검색</span>
    </div>
    <div style="display: flex; justify-content: center;">
      <form name="frm" method="post" action="#">
        <div class="search">
          <img src="images/ic_search.svg">
          <input type="text" placeholder="예) 형광등, 고추장">
        </div>
      </form>
    </div>
  </div>
</div>