<!-- 검색 컨테이너 -->
<div th:fragment="trash_search_fragment">
  <script src="/js/search/searchBox.js"> </script>
  <div style="margin-bottom: 40px; position: relative;">
    <div style="display: flex; justify-content: center;">
      <div class="search">
        <img src="/images/ic_search.svg">
        <input type="text" id="search-box" placeholder="예) 형광등, 고추장 ">
        <div id="results" style="position: absolute; top: 100%; width: 100%; z-index: 2;
                                 margin-top: 5px; max-height: 200px; overflow-y: auto;
                                 border-radius: 10px; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);"></div>
        
      </div>
    </div>
  </div>
</div>
