<!DOCTYPE html>

<html layout:decorate="~{admin/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line' style="font-size: 200%;">
    <span th:text="${explorationVO.exponame}" class="title_line_text"></span > 
     > 삭제
  </div>
  
  <aside class="aside_right" style="float: right;">
    <a th:href="@{|./create|}" th:if="${session.admin == 'admin'}">등록</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a th:href="@{|./update?expno=${explorationVO.expno}|}" th:if="${session.admin == 'admin'}">수정</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a th:href="@{|./list_all|}">목록</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <br>
  <div class='menu_line'></div>
    
  <fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style='text-align: center; width: 50%; float: left;'>
          <div
            th:if="${explorationVO.t_thumb.endsWith('jpg') or explorationVO.t_thumb.endsWith('png') or explorationVO.t_thumb.endsWith('gif') or explorationVO.t_thumb.endsWith('jpeg')}">
            <img th:src="@{|/images/trash_exploration/storage/${explorationVO.t_thumb}|}" style="width: 100%;">
          </div>
        </div>
        <div style='text-align: left; width: 47%; float: left;'>
          <span style='font-size: 1.5em;' th:text="${explorationVO.exponame}"></span>
          <br>
          <form name='frm' method='POST' action='./delete'>
            <input type="hidden" name="expno" th:value="${explorationVO.expno}">
            <br>
            <div style='text-align: left; margin: 10px auto;'>
                <span style="color: #FF0000; font-weight: bold;">탐구항목 삭제를 진행 하시겠습니까? 삭제하시면 복구 할 수 없습니다.</span>
                <br><br>
                <button type = "submit" class="btn btn-secondary btn-sm">삭제 진행</button>
                <button type = "button" onclick = "history.back()" class="btn btn-secondary btn-sm">취소</button>
              </div>   
          </form>
        </div>
      </li>
    </ul>
  </fieldset>

</div>
  