<!-- Modal -->
<div th:fragment="modal_slider_fragment">
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" style="overflow: hidden;">
          <!-- Swiper -->
          <div id="popupGallery" class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Navigation -->
            <div class="custom-swiper-button-next popupGalleryNext"></div>
            <div class="custom-swiper-button-prev popupGalleryPrev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript" src="/js/modal.js"></script>
</div>