<!DOCTYPE html>

<html layout:decorate="~{admin/layout}"> <!-- layout.html 상속-->


<div layout:fragment="content">

  <aside class="aside_right" style="float: right;">
    <a th:href="@{|./create|}" th:if="${session.admin == 'admin'}">등록</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a th:href="@{|./update?expno=${explorationVO.expno}|}" th:if="${session.admin == 'admin'}">수정</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a th:if="${session.admin == 'admin'}" th:href="@{|./list_all|}">목록</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a th:href="@{|./delete?expno=${explorationVO.expno}|}" th:if="${session.admin == 'admin'}">삭제</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>

  <div class='menu_line'></div>

  <div class="container">

    <div th:with="explorationVO=${explorationVO}" style="width: 100%; word-break: break-all;">

      <h2 style="font-size: 1.5em; font-weight: bold;" th:text="${explorationVO.exponame}"></h2><br><br>
      <hr>
      <div
        th:if="${explorationVO.t_saved.endsWith('jpg') or explorationVO.t_saved.endsWith('png') or explorationVO.t_saved.endsWith('gif') or explorationVO.t_saved.endsWith('jpeg')}">
        <img th:src="@{|/images/trash_exploration/storage/${explorationVO.t_saved}|}" style='width: 100%; margin-bottom: 1rem;'>
      </div>
      
      <div
        th:if="${explorationVO.c1_saved.endsWith('jpg') or explorationVO.c1_saved.endsWith('png') or explorationVO.c1_saved.endsWith('gif') or explorationVO.c1_saved.endsWith('jpeg')}">
        <img th:src="@{|/images/trash_exploration/storage/${explorationVO.c1_saved}|}" style='width: 100%; margin-bottom: 1rem;'>
      </div>
      
      <div th:if="${explorationVO.c2_saved.endsWith('jpg') or explorationVO.c2_saved.endsWith('png') or explorationVO.c2_saved.endsWith('gif') or explorationVO.c2_saved.endsWith('jpeg')}">
          <img th:src="@{|/images/trash_exploration/storage/${explorationVO.c2_saved}|}" style='width: 100%; margin-bottom: 1rem;'>
      </div>
      
      <div th:if="${explorationVO.c3_saved.endsWith('jpg') or explorationVO.c3_saved.endsWith('png') or explorationVO.c3_saved.endsWith('gif') or explorationVO.c3_saved.endsWith('jpeg')}">
          <img th:src="@{|/images/trash_exploration/storage/${explorationVO.c3_saved}|}" style='width: 100%; margin-bottom: 1rem;'>
      </div>
      
      <div th:if="${explorationVO.c4_saved.endsWith('jpg') or explorationVO.c4_saved.endsWith('png') or explorationVO.c4_saved.endsWith('gif') or explorationVO.c4_saved.endsWith('jpeg')}">
          <img th:src="@{|/images/trash_exploration/storage/${explorationVO.c4_saved}|}" style='width: 100%; margin-bottom: 1rem;'>
      </div>
      
      <div th:if="${explorationVO.c5_saved.endsWith('jpg') or explorationVO.c5_saved.endsWith('png') or explorationVO.c5_saved.endsWith('gif') or explorationVO.c5_saved.endsWith('jpeg')}">
          <img th:src="@{|/images/trash_exploration/storage/${explorationVO.c5_saved}|}" style='width: 100%; margin-bottom: 1rem;'>
      </div>
      
      <div th:if="${explorationVO.c6_saved.endsWith('jpg') or explorationVO.c6_saved.endsWith('png') or explorationVO.c6_saved.endsWith('gif') or explorationVO.c6_saved.endsWith('jpeg')}">
          <img th:src="@{|/images/trash_exploration/storage/${explorationVO.c6_saved}|}" style='width: 100%; margin-bottom: 1rem;'>
      </div>
      
    </div>
    <br><br>
  </div>
</div>

</html>