<div th:fragment="slider_fragment">
  <!-- 슬라이드 전체 감싸는 컨테이너 -->
  <div class="swiper mySwiper">
    <!-- wrapper 추가 필수 -->
    <div class="swiper-wrapper">
      <!-- 실제 이미지나 컨텐츠가 들어갈 slide들 -->
      <!-- 실제로는 이미지마다 div 의 id 가 매핑 되야함 -->
      <div th:each="explorationVO, status:${limit_expr_list}" class="swiper-slide">
        <a href="#" class="modal_open" th:data-expno="${explorationVO.expno}">
          <img th:src="@{|/images/trash_exploration/storage/${explorationVO.t_saved}|}">
        </a>
      </div>
    </div>
  </div>
  <script src="/js/swiper.js"></script>
  <script th:inline="javascript" src="/js/modal.js"></script>
</div>