<!DOCTYPE html>

<html layout:decorate="~{admin/layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line' style="font-size: 200%;">
    <span th:text="${explorationVO.exponame}" class="title_line_text"></span > 
     > 수정
  </div>
  
  <aside class="aside_right" style="float: right;">
    <a th:href="@{|./create|}" th:if="${session.admin == 'admin'}">등록</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a th:href="@{|./update?expno=${explorationVO.expno}|}" th:if="${session.admin == 'admin'}">수정</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_all|}">목록</a>
    <span class='menu_divide' >│</span>
    <a  th:if="${session.admin == 'admin'}" th:href="@{|./delete?expno=${explorationVO.expno}|}">삭제</a>
    <span class='menu_divide' th:if="${session.admin == 'admin'}">│</span>
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <br>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${explorationVO}" action='./update' enctype="multipart/form-data">
    <input type="hidden" name="expno" th:value="${explorationVO.expno}">
    
    <div>
        <label>탐구 항목 이름:</label>
        <input type='text' name='exponame' th:value='${explorationVO.exponame}' required="required" 
                class="form-control" style='width: 40%;'>
    </div>

    <div>
        <label>탐구 타이틀 이미지</label>
        <input type='file' class="form-control" required="required" name='file0MF' id='file0MF' value='' placeholder="파일 선택">
    </div>

    <div>
        <label>탐구 컨텐츠 이미지1</label>
        <input type='file' class="form-control" required="required" name='file1MF' id='file1MF' value='' placeholder="파일 선택">         
     </div>   
     
     <div>
        <label>탐구 컨텐츠 이미지2</label>
        <input type='file' class="form-control" name='file2MF' id='file2MF' value='' placeholder="파일 선택">         
     </div>   
     
     <div>
        <label>탐구 컨텐츠 이미지3</label>
        <input type='file' class="form-control" name='file3MF' id='file3MF' value='' placeholder="파일 선택">         
     </div>   
     
     <div>
        <label>탐구 컨텐츠 이미지4</label>
        <input type='file' class="form-control" name='file4MF' id='file4MF' value='' placeholder="파일 선택">         
     </div>   
     
     <div>
        <label>탐구 컨텐츠 이미지5</label>
        <input type='file' class="form-control" name='file5MF' id='file5MF' value='' placeholder="파일 선택">         
     </div>
     
     <div>
        <label>탐구 컨텐츠 이미지6</label>
        <input type='file' class="form-control" name='file6MF' id='file6MF' value='' placeholder="파일 선택">         
     </div>
    
    
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">저장</button>
      <button type="button" th:attr="onclick=|location.href='./list_all'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>


  