<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div>
        <img src="/images/ic_bookmarks_fill.svg" alt="Image" class="inline-block">
        <h2 style="display: inline-block; vertical-align: middle;">북마크 내역</h2>
      </div>
      <!-- 메뉴 선택 영역 -->
      <div style="display: flex; align-items: center; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
              <a href="/member/read_report" style="display: flex; align-items: center;">
                  <img src="/images/ic_report.png" alt="Image" class="inline-block" style="width: 20px; height: 20px;">
                  <label style="display: inline-block; vertical-align: middle; margin-left: 5px;">신고 내역</label>
              </a>
          </div>
          <div style="width: 1px; height: 20px; background-color: black; margin: 0 10px;"></div>
          <div style="display: flex; align-items: center;">
              <a href="/member/update" style="display: flex; align-items: center;">
                  <img src="/images/ic_modify_profile.svg" alt="Image" class="inline-block" style="width: 20px; height: 20px;">
                  <label style="display: inline-block; vertical-align: middle; margin-left: 5px;">수정</label>
              </a>                
          </div>
      </div>
    </div>
    
    <table style='width: 100%;' class="table table-hover">
        <colgroup>
            <col style='width: 30%;'/>
            <col style='width: 30%;'/>
            <col style='width: 40%;'/>
        </colgroup>
        <tr>
            <th class='th_bs'>게시판</th>
            <th class='th_bs'>카테고리</th>
            <th class='th_bs'>북마크 시간</th>
        </tr>
        
        <!-- th:attr="onclick=|location.href='=${reportCommunityVO.url}'|" -->
        <tr th:each="bookmarkListVO, status:${list}" th:attr="onclick=|location.href='=${bookmarkListVO.url}'|">
            <td style="text-align: center;"><a th:text="${bookmarkListVO.board}"></a></td>
            <td style="text-align: center;"><a th:text="${bookmarkListVO.category_name}"></a></td>
            <td style="text-align: center;"><a th:text="${bookmarkListVO.rdate.substring(0, 16)}"></a></td>
        </tr>
    </table>
</div> <!-- container_main 종료 -->   

</html>
