<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='menu_line'></div>
  <br>
  <form name='frm' method='post' th:object="${communityVO}" action='./create' enctype="multipart/form-data">
    <select name="communitycateno" id="communitycateno">
      <option th:each="communitycateVO, status:${list}" th:value="${status.count}" th:text="${communitycateVO.name}">
      </option>
    </select>
    <div>
      <label>제목</label>
      <input type='text' name='title' required="required" autofocus="autofocus" class="form-control"
        style='width: 100%;'>
    </div>
    <div>
      <label>내용</label>
      <textarea name='contents' required="required" class="form-control" rows="12" style='width: 100%;'></textarea>
    </div>
    <div>
      <label>이미지</label>
      <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div>
    <div>
      <label>동영상</label>
      <input type='file' class="form-control" name='file2MF' id='file2MF' value='' placeholder="파일 선택">
    </div>
    <div>
      <label>YouTube 링크</label>
      <input type='text' name='youtube'value="" class="form-control" style='width: 100%;'></input>
    </div>
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
    </div>

  </form>

</div>
</html>