<div th:fragment="list_menu_fragment"> <!-- <div th:replace=... -->
  <table class="table table-hover">
    <colgroup>
      <col style='width: 15%;' />
      <col style='width: 65%;' />
      <col style='width: 20%;' />
    </colgroup>
    <tbody>
      <tr th:each="communityVO:${limitedList}">
        <td class="td_bs"><a style="display: block;">
            <img th:if="${communityVO.files != ''}" th:src="@{|/Desktop/teamfile/${communityVO.files}|}">
          </a></td>
        <td class="td_bs" th:onclick="|location.href='@{community/read(communityno=${communityVO.communityno})}'|">
          <!-- 유저 ID --> <!-- 현재 시간 - 게시글 upload time -->
          <!-- 게시글 내용 -->
          <div class="td_bs_sub_info" style="margin-bottom: 5px;">
            <span class="td_bs_id" th:text="${communityVO.nickname}"></span> · <span class="td_bs_uptime"
              th:text="${communityVO.rdate}"></span>
          </div>
          <div th:text="${communityVO.title}">
          </div>
        </td>
        <td class="td_bs_right">
          <!-- 좋아요 버튼 --> <!-- 좋아요 숫자 --> <!-- 댓글 아이콘 --> <!-- 댓글 숫자  -->
          <img src="/images/like_unable.png"><span th:text="${communityVO.communitylikes}"></span>
          <img src="/images/comment.png"><span th:text="${communityVO.total}"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>