<div th:fragment="list_menu_fragment"> <!-- <div th:replace=... -->
    <table class="table table-hover">
      <colgroup>
        <col style='width: 15%;'/>    
        <col style='width: 65%;'/>
        <col style='width: 20%;'/>
      </colgroup>
      <tbody>
        <tr >
          <td class="td_bs"><a style="display: block;">
            <img src="images/sample_garbage2.png">
          </a></td>
          <td class="td_bs">
            <!-- 유저 ID --> <!-- 현재 시간 - 게시글 upload time -->
            <!-- 게시글 내용 -->
            <div class="td_bs_sub_info" style="margin-bottom: 5px;">
              <span class="td_bs_id">bs1234</span> · <span class="td_bs_uptime">3분전</span>
            </div>
            <div>
              빨대는 일반쓰레기인가요??
            </div>
          </td>
          <td class="td_bs_right">
            <!-- 좋아요 버튼 --> <!-- 좋아요 숫자 --> <!-- 댓글 아이콘 --> <!-- 댓글 숫자  -->
            <a href="#"><img src="images/like_unable.png"></a><span>2</span>
            <a href="#"><img src="images/comment.png"></a><span>2</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>