<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <header style="margin-top: 25px; padding-left: 5%; padding-right: 5%; ">
    <div>
      <h1>Dr. Echo's Club</h1>
      <span>쓰레기 버리는 방법,</span><br>
      <span> 환경적인 라이프 스타일에 관한</span><br>
      <span>커뮤니티회원만 글과 댓글을 남길 수 있습니다.</span><br>
    </div>
  </header>
  
  <div style="margin: 25px 57px; display: flex; align-items: center; justify-content: center;
              font-family: 'Giants-Bold'; font-size: 25px;">
      <span class="second_header">커뮤니티 글 검색</span>
  </div>
  <!-- 검색 버튼 -->
  <div th:replace="~{search/search_component::search_fragment}"></div>
  <div style="text-align: right;">
    <a href="create">글쓰기</a>
  </div>
  <!-- 커뮤니티 글 목록-->
  <div class="community_header">
    커뮤니티
  </div>
  <div th:replace="~{community/list_all_component::list_all_fragment}"></div>
  
  <div class="btn_more">
      <span>
        더보기
      </span>
  </div>

  <div th:replace="~{trash/modal_slider_component::modal_slider_fragment}"></div>
</div> <!-- container_main 종료 -->   

</html>

