<!DOCTYPE html>
<table class="table table_hover">
    <colgroup>
        <col style='width: 10%;' />
        <col style='width: 20%;' />
        <col style='width: 20%;' />
        <col style='width: 10%;' />
        <col style='width: 15%;' />
        <col style='width: 5%;' />
        <col style='width: 20%;' />
    </colgroup>
    <thead>
        <tr>
            <th class="th_bs">분류</th>
            <th class="th_bs">제목</th>
            <th class="th_bs">작성자</th>
            <th class="th_bs">등록일</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="CommunityVO, status:${list}">
            <td class="td_bs"><a th:href="@{|/community/read/${CommunityVO.communityno}?word=${word}&now_page=${now_page}|}"
                    style="display: block;" th:text="${CommunityVO.name}"></td>
            <td class="td_bs"><a th:href="@{|/community/read/${CommunityVO.communityno}|}"
                    style="display: block;" th:text="${CommunityVO.title}"></td>
            <td class="td_bs" th:text="${CommunityVO.nickname}"></td>
            <td class="td_bs" th:text="${CommunityVO.rdate.substring(0,10)}"></td>
        </tr>
    </tbody>
</table>
<!-- <div th:text="${now_pages}"></div> -->
<!-- 페이지 버튼 목록 출력 시작-->
<!-- <div class="Bottom_menu" th:utext="${paging}"></div> -->
<!-- 페이지 버튼 목록 출력 종료 -->

</html>