<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  
  <header style="margin-top: 25px; padding-left: 5%; padding-right: 5%; ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="Stylesheet" type="text/css"> <!-- /static 기준 -->
    <div>
      <div style="display: flex; justify-content: space-between; align-items: flex-end;">
        <h1 style="margin: 0;">Dr. Echo's Club</h1>
        <a class="icon-link" id="bookmark-btn" title="북마크">
          <img id="bookmark-icon" src="/images/bookmark_unable.svg" alt="Bookmark"
            style="width: 30px; height: 30px; cursor: pointer;">
        </a>
      </div>
      <span>쓰레기 버리는 방법,</span><br>
      <span> 환경적인 라이프 스타일에 관한</span><br>
      <span>커뮤니티회원만 글과 댓글을 남길 수 있습니다.</span><br>
    </div>
    <script th:inline="javascript">
      function showTime(createdAt) {
        let createDate = new Date(createdAt);
        const milliSeconds = new Date() - createDate;
        const seconds = milliSeconds / 1000;
        if (seconds < 60) return `방금 전`;
        const minutes = seconds / 60;
        if (minutes < 60) return `${Math.floor(minutes)}분 전`;
        const hours = minutes / 60;
        if (hours < 24) return `${Math.floor(hours)}시간 전`;
        const days = hours / 24;
        if (days < 7) return `${Math.floor(days)}일 전`;
        const weeks = days / 7;
        if (weeks < 5) return `${Math.floor(weeks)}주 전`;
        const months = days / 30;
        if (months < 12) return `${Math.floor(months)}개월 전`;
        const years = days / 365;
        return `${Math.floor(years)}년 전`;
      }
      
      document.addEventListener('DOMContentLoaded', () => {
        const uptimeElement = document.getElementById('uptime');
        uptimeElement.textContent = showTime(uptimeElement.textContent);
      });
      
      
  
      document.addEventListener('DOMContentLoaded', () => {
        const communityNo = "[[${communityVO.communityno}]]";
        let bookmarkIcon = document.getElementById('bookmark-icon');
    
        // 북마크 상태를 확인하는 함수
        function checkBookmark() {
            const communityNo = "[[${communityVO.communityno}]]";
            const goUrl = '/bookmark/check_community';
        
            fetch(goUrl, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({communityno: communityNo}),
            })
            .then(response => response.json())
            .then(data => {
                const bookmarkImg = document.getElementById('bookmarkImg');
                if (data.res == 1) {
                    bookmarkIcon.src = '/images/bookmark_enable.svg';
                } else {
                    bookmarkIcon.src = '/images/bookmark_unable.svg';
                }
            })
            .catch(error => console.error('Error:', error));
        }

        checkBookmark();
              
        document.getElementById('bookmark-btn').addEventListener('click', () => {

            let bookmarkBtn = document.getElementById('bookmark-btn');
            let bookmarkIcon = document.getElementById('bookmark-icon');

            let url = '/community/read?communityno=' + communityNo;
            const data = {url: url, communityno: communityNo};

            // 2. bookmark 버튼 누르면
            // - 2. 북마크에 추가 안되 있다면 // 이미지 비활성화시
            //  - a. 북마크에 추가후
            //  - b. 이미지 변경
            // Check the current state of the bookmark icon
            if (bookmarkIcon.src.includes('/images/bookmark_unable.svg')) {
              goUrl = '/bookmark/create_community?communityno=' + communityNo;
              fetch(goUrl, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data),
              })
                .then(response => response.json())
                .then(data => {
                  if (data.res >= 1) {
                    // Update the bookmark icon to the enabled state
                    bookmarkIcon.src = '/images/bookmark_enable.svg';
                  } else {
                  }
                })
                .catch(error => {
                });
            } else {
              // - 1. 북마크에 추가되어있지 않았다면
              //  - a. 북마크에 추가후
              //  - b. 이미지 변경                
                goUrl = '/bookmark/delete_community';
              fetch(goUrl, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({communityno: communityNo}),
              })
                .then(response => response.json())
                .then(data => {
                  if (data.res >= 1) {
                    bookmarkIcon.src = '/images/bookmark_unable.svg';
                  } else {
                  }
                })
                .catch(error => {
                });
            }
          });

      })

      
    </script>
  </header>

  <!-- 커뮤니티 글-->
  <div>
    <div class="community_read_header_title">
      <span th:text="${communityVO.title}"> </span>
      
    </div>
    
    <!-- 반응형 UI 구성 필요 -->
    <!-- 카테고리, 작성자, 작성일 정보 -->
    <div class="community_read_header_box" style="height: 5px;">
      <div class="community_read_header_info">
        <div class="community_read_header">분류:</div>
        <div style="display: flex;" th:text="${communityVO.name}"></div>
      </div>
      <div class="community_read_header_info">
        <div class="community_read_header">작성자:</div>
        <div style="display: flex; float:left;" th:text="${communityVO.nickname}"></div>
      </div>
      <div class="community_read_header_info">
        <div class="community_read_header">작성일:</div>
        <div id="uptime" style="display: flex; float: left;" th:text="${communityVO.rdate}"></div>
      </div>
    </div>
    
    <!-- 본문 contents 영역 -->
    <div class="community_read_contents" style="margin-top: 3%;">
      <p th:text="${communityVO.contents}"></p>
      <div style="text-align: center;">
        <img th:if="${communityVO.files != ''}" th:src="@{|/i/Desktop/teamfile/${communityVO.thumb}|}">
      </div>
      <div th:if="${communityVO.youtube != ''}" style="text-align: center;">
        <iframe width="560" height="315"
          th:src="'https://www.youtube.com/embed/' + ${#strings.substringAfter(communityVO.youtube, 'v=')}"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div th:if="${communityVO.mp4 != ''}" style="text-align: center;">
        <video controls>
          <source th:src='@{|/i/Desktop/teamfile/${communityVO.mp4}|}' type="video/webm">
          </source>
        </video>
      </div>
    </div>

    <div class="content_body_bottom" th:if="${bool}"
      style="text-align: right; display: flex; justify-content: space-between; margin: 3% 10px;">
      <!-- 신고 버튼 -->
      <div>
        <button type="button" class="btn btn-outline-danger btn-sm"
          th:onclick="|location.href='@{/report_community/create?(communityno=${communityVO.communityno})}'|">신고</button>
      </div>
      <div>
        <button type="button" class="btn btn-secondary btn-sm"
          th:onclick="|location.href='@{/community/delete(communityno=${communityVO.communityno})}'|">삭제</button>
        <button type="button" class="btn btn-secondary btn-sm"
          th:onclick="|location.href='@{/community/update(communityno=${communityVO.communityno})}'|">수정</button>
      </div>
    </div>

    <!-- 커뮤니티 좋아요 영역 -->
    <div class="community_like_board">
      <a th:href="@{|/community/update_increase_cnt_like?communityno=${communityVO.communityno}|}"><img
          src="/images/like_unable.png"><span th:text="${communityVO.communitylikes}"></span></a>
    </div>

    <div class="community_comment_header">
      <!-- 댓글 수 -->
      <div class="community_comment_cnt">전체<span th:text="${reply_cnt}"></span></div>
    </div>

    <!-- 댓글 등록 영역 -->
    <form name='frm' method='post' th:object="${replyVO}" action='/reply/create' enctype="multipart/form-data">
      <input type="hidden" name="communityno" th:value="${communityVO.communityno}">

      <div style="margin: 10px;">
        <input style="padding: 15px 0px; padding-left: 10px;" type="text" name="contents" required=required
          placeholder="댓글을 입력하세요."><br>
        <div class="comment_box" style="display: flex; justify-content: flex-end;">
          <label for="file1MF" class="custom-file-upload">이미지<br>등록</label>
          <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="이미지 선택">
          <button type="submit" style="margin: 10px;">댓글쓰기</button>
        </div>
      </div>
    </form>

    <div th:replace="~{reply/list_all_component::list_all_fragment}"></div>
    
  </div>

</div>

</html>