<fieldset class="fieldset_basic">
    <ul>
      <li class="li_none">
        <div style="width: 100%; word-break: break-all;">
        
          <div th:if="${contentsVO.file1.endsWith('jpg') or contentsVO.file1.endsWith('png')  or contentsVO.file1.endsWith('gif')}">
            <img th:src="@{|/contents/storage/${contentsVO.file1saved}|}" style='width: 50%; float: left; margin-top: 0.5%; margin-right: 1%;'>
          </div>

          <span style="font-size: 1.5em; font-weight: bold;" th:text="${contentsVO.title}"></span>
          <span style="font-size: 1em;" th:text="${contentsVO.rdate }"></span><br><br>
          <div style="white-space: pre-wrap;"><span th:text="${contentsVO.content}"></span></div>
        </div>
      </li>

      <li class="li_none" style="clear: both; padding-top: 10px; padding-bottom: 25px;" 
           th:if="${contentsVO.youtube.length() > 0}">
        <div style='text-align: center; width:640px; margin: 0px auto;'
                th:utext = "${contentsVO.youtube }">
        </div>
      </li>
            
      <li class="li_none" style="clear: both; padding-top: 10px; padding-bottom: 25px;" 
           th:if="${contentsVO.map.length() > 0}">
        <div style='text-align: center; width:640px; margin: 0px auto;'
                th:utext = "${contentsVO.map }">
        </div>
      </li>
      
      <li class="li_none" th:text="|검색어(키워드): ${contentsVO.word }|">
      </li>
      
      <li class="li_none" th:if="${contentsVO.size1 > 0}">
        <div >
          <!-- ServletRegister.java: registrationBean.addUrlMappings("/download"); -->
          첨부 파일: <a th:href='@{|/download?dir=/contents/storage&filename=${contentsVO.file1saved}&downname=${contentsVO.file1}|}'
                             th:text='|${contentsVO.file1}|'></a> <span th:text="|(${contentsVO.size1_label})|"></span>  
        </div>
      </li>   
    </ul>
  </fieldset>