<!DOCTYPE html>
<div layout:fragment="content">
  <div class='menu_line'></div>

  <form name='frm' method='post' th:object="${communityVO}" action='./update' enctype="multipart/form-data">
    <input type="hidden" name="communityno" th:value="${communityVO.communityno}">
    <div>
      <label>제목</label>
      <input type='text' name='title' required="required" th:value="${communityVO.title}" autofocus="autofocus"
        class="form-control" style='width: 100%;'>
    </div>
    <div>
      <label>내용</label>
      <textarea name='contents' required="required" class="form-control" rows="12" style='width: 100%;'
        th:text="${communityVO.contents}"></textarea>
    </div>
    <div>
      <label>이미지</label>
      <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div>
    <!-- <div>
      <label>동영상</label>
      <input type='file' class="form-control" name='file2MF' id='file2MF' value='' placeholder="파일 선택">
    </div> -->
    <div>
      <label>YouTube 링크</label>
      <input type='text' name='youtube' required="required" autofocus="autofocus" class="form-control"
        style='width: 100%;' th:value="${communityVO.youtube}"></input>
    </div>
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
    </div>

  </form>

</div>