<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <div id="map" style="width:100%;height: 700px; margin-top: 5px; margin-bottom: 5px;"></div>

  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c18cf3988c96eddf8830b30db1166aa9&libraries=services"></script>
  <script>
    var mapContainer = document.getElementById('map'); // 지도를 표시할 div

    // 기본 좌표를 설정합니다 (종로)
    var defaultPosition = new kakao.maps.LatLng(37.5720973140597, 126.985392406484);

    // 지도의 기본 설정을 구성합니다
    var mapOption = {
      center: defaultPosition,
      level: 6
    };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 서버에서 위치 데이터를 가져옵니다
    fetch('/nephronmap/nephron_list_all')
      .then(response => response.json())
      .then(data => {
        data.forEach(function (position) {
          // 주소로 좌표를 검색합니다
          geocoder.addressSearch(position.roadaddress, function (result, status) {

            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {

              var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

              // 결과값으로 받은 위치를 마커로 표시합니다
              var marker = new kakao.maps.Marker({
                map: map,
                position: coords
              });

              // 마커에 클릭 이벤트를 등록
              kakao.maps.event.addListener(marker, 'click', function () {
                // 마커를 클릭하면 해당 링크로 이동합니다
                window.open('https://map.kakao.com/?q=' + encodeURIComponent(position.detailaddress));
              });
            }
          });
        });
      })
      .catch(error => console.error('Error fetching locations:', error));

    /*
    // 사용자의 현재 위치를 가져옵니다
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            var locPosition = new kakao.maps.LatLng(lat, lon); // 현재 위치

            // 지도의 중심을 현재 위치로 설정합니다
            map.setCenter(locPosition);
            map.setLevel(5);
        }, function (error) {
            console.error('Error getting geolocation: ' + error.message);
        });
    } else {
        console.error('Geolocation is not supported by this browser.');
    }
    */
  </script>

  </script>
  <div class="nefhorne_block">
    올바른 분리수거로<br>포인트를 얻어보세요!
  </div>
</div>

</html>