<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <div id="mapwrap">
    <!-- 지도가 표시될 div -->
    <div id="map" style="width:100%; height: 700px; margin-top: 5px; margin-bottom: 5px;">
      <div id="loading-screen">
        <img src="/images/nephron/loading.gif" style="width: 30%; height: 30%'" alt="Loading...">
      </div>
    </div>
    <!-- 지도 위에 표시될 마커 카테고리 -->
    <div class="category" style="width: 160px; height: 10%;">
      <div id="plasticMenu" onclick="changeMarker('plastic')">
        <span class="ico_comm ico_plastic"></span>
        <div style="margin-top: 10%;">플라스틱</div>
      </div>
      <div id="canMenu" onclick="changeMarker('can')">
        <span class="ico_comm ico_can"></span>
        <div style="margin-top: 10%;">캔</div>
      </div>
      <div id="plasticandcanMenu" onclick="changeMarker('plastiandcan')">
        <span class="ico_comm ico_plastiandcan"></span>
        <div style="margin-top: 10%;">통합</div>
      </div>
    </div>
  </div>

  <script type="text/javascript"
    th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=}+${map_key}+@{&libraries=services}"></script>
  <script>
    var loadingScreen = document.getElementById('loading-screen');
    
    function hideLoadingScreen() {
      loadingScreen.style.display = 'none';
    }
    
    // 지도를 생성합니다
    var mapContainer = document.getElementById('map');
    var mapOption = {
      center: new kakao.maps.LatLng(37.5720973140597, 126.985392406484), // 지도의 중심 좌표(종로)
      level: 5 // 지도의 확대 레벨
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 마커이미지의 주소입니다. 스프라이트 이미지입니다
    var markerImageSrc = '/images/nephroncategory1.png';

    // 마커 이미지 생성 함수
    function createMarkerImage(src, size, options) {
      return new kakao.maps.MarkerImage(src, size, options);
    }

    // 마커 생성 함수
    function createMarker(position, image) {
      return new kakao.maps.Marker({
        position: position,
        image: image,
      });
    }

    // 일반화된 마커 생성 함수
    function createMarkers(positions, spriteOriginY, callback) {
      var markerArray = [];
      var imageSize = new kakao.maps.Size(35, 33);
      var imageOptions = {
        spriteOrigin: new kakao.maps.Point(0, spriteOriginY),
        spriteSize: new kakao.maps.Size(36, 98)
      };

      var remaining = positions.length; // 남은 위치 수를 추적
      positions.forEach(function (position) {
        geocoder.addressSearch(position.roadaddress, function (result, status) {
          if (status === kakao.maps.services.Status.OK) {
            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
            var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions);
            var marker = createMarker(coords, markerImage);
            addMarkerClickEvent(marker, position);
            markerArray.push(marker);
          }
          remaining--; // 하나의 위치 처리가 완료되면 감소
          if (remaining === 0 && callback) {
            callback(markerArray);
          }
        });
      });
    }


    // 마커 클릭 이벤트 부여 함수
    function addMarkerClickEvent(marker, position) {
      kakao.maps.event.addListener(marker, 'click', function () {
        window.open('https://map.kakao.com/?q=' + encodeURIComponent(position.roadaddress));
      });
    }

    // 종류별 마커들의 지도 표시 여부를 설정하는 함수입니다
    function setMarkers(markerArray, map) {
      for (var i = 0; i < markerArray.length; i++) {
        markerArray[i].setMap(map);
      }
    }

    // 마커 배열 변수 초기화
    var plasticMarkers = [];
    var canMarkers = [];
    var plasticandcanMarkers = [];

    // 서버에서 위치 데이터를 가져옵니다
    fetch('/nephronmap/nephron_list_all')
      .then(response => response.json())
      .then(data => {
        // 각 타입별로 새로운 객체 배열을 초기화합니다.
        var plasticPositions = [];
        var canPositions = [];
        var plasticAndCanPositions = [];

        // 데이터를 total 값에 따라 분류합니다.
        data.forEach(function (position) {
          if (position.total === 3) {
            plasticPositions.push(position);
          } else if (position.total === 4) {
            canPositions.push(position);
          } else if (position.total === 7) {
            plasticPositions.push(position);
            canPositions.push(position);
            plasticAndCanPositions.push(position);
          }
        });

        // 각 위치 배열에 대해 마커를 생성하고 클릭 이벤트를 부여합니다.
        createMarkers(plasticPositions, 0, function (markers) {
          plasticMarkers = markers;
          changeMarker('plastic'); // 플라스틱 마커가 모두 생성된 후 호출
          hideLoadingScreen(); // 모든 마커가 생성된 후 로딩 화면 숨김
        });
        createMarkers(canPositions, 33, function (markers) {
          canMarkers = markers;
        });
        createMarkers(plasticAndCanPositions, 66, function (markers) {
          plasticandcanMarkers = markers;
        });
      })
      .catch(error => console.error('Error fetching data:', error));

    // 카테고리를 클릭했을 때 type에 따라 카테고리의 스타일과 지도에 표시되는 마커를 변경합니다
    function changeMarker(type) {
      var plasticMenu = document.getElementById('plasticMenu');
      var canMenu = document.getElementById('canMenu');
      var plasticandcanMenu = document.getElementById('plasticandcanMenu');

      // 모든 마커 표시
      setMarkers(plasticMarkers, null);
      setMarkers(canMarkers, null);
      setMarkers(plasticandcanMarkers, null);

      if (type === 'plastic') {
        plasticMenu.className = 'menu_selected';
        canMenu.className = '';
        plasticandcanMenu.className = '';
        setMarkers(plasticMarkers, map);
      } else if (type === 'can') {
        plasticMenu.className = '';
        canMenu.className = 'menu_selected';
        plasticandcanMenu.className = '';
        setMarkers(canMarkers, map);
      } else if (type === 'plastiandcan') {
        plasticMenu.className = '';
        canMenu.className = '';
        plasticandcanMenu.className = 'menu_selected';
        setMarkers(plasticandcanMarkers, map);
      }
    }

     /*
    // 사용자의 현재 위치를 가져옵니다
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;
            var locPosition = new kakao.maps.LatLng(lat, lon); // 현재 위치

            // 지도의 중심을 현재 위치로 설정합니다
            map.setCenter(locPosition);
            map.setLevel(5);
        }, function (error) {
            console.error('Error getting geolocation: ' + error.message);
        });
    } else {
        console.error('Geolocation is not supported by this browser.');
    }
    */
  </script>

  <div class="nefhorne_block">
    올바른 분리수거로<br>포인트를 얻어보세요!
  </div>
</div>

</html>