<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <h2 class="title_line">신고내용-댓글 목록</h2>
  <div class ="container mt-3"> <!-- margin top 16px-->
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> 신고 번호:<span th:text="${reportReplyVO.reportno}"> </span></li>
        <li class="list-group-item"> 신고 내용:<span th:text="${reportReplyVO.contents}"> </span></li>
        <li class="list-group-item"> 등록일:<span th:text="${reportReplyVO.rdate.substring(0, 16)}"> </span></li>
    </ul>
  </div>
  <div>
    <button type="button" onclick="history.back();" class="btn btn-primary btn-sm">뒤로 가기</button>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
  </div>
  
</div>
</html>