<!DOCTYPE html>
<html>
<div layout:fragment="content">
    <script>
        window.onload = () => {
            document.querySelector('#id').addEventListener('keypress', (event) => {
                // document.getElementById('passwd').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    document.getElementById('name').focus();
                }
            });
            
            document.querySelector('#name').addEventListener('keypress', (event) => {
                // document.getElementById('passwd').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    document.getElementById('btn_send').focus();
                }
            });
        }

        function send() { // 회원 가입 처리
            let id = document.getElementById('id');
            let id_msg = document.getElementById('id_msg');

            if (id.value.trim().length == 0) {
                id_msg.innerHTML = 'ID가 누락됬습니다.';
                id_msg.classList.add('span_warning');    // class 적용
                id.focus();

                return false;  // 회원 가입 진행 중지

            }

            let name = document.getElementById('name');
            let name_msg = document.getElementById('name_msg');

            if (name.value.length == 0) {
                name_msg.innerHTML = '이름 입력은 필수입니다.';
                name_msg.classList.add('span_warning');    // class 적용
                name.focus();

                return false;  // 패스워드 확인 진행 중지
            }
            document.getElementById('frm').submit(); // required="required" 작동 안됨.
        }
    </script>
    <div class="title_line">
        패스워드 확인(*:필수)
    </div>
    <div class='menu_line'></div>
    <div style="width: 60%; margin: 0px auto ">
        <form th:object="${memberVO}" id="frm" name="frm" method="post" action="/member/findpassword">
            <div>
                <div>
                    <label>아이디*</label>
                </div>
                <input type="text" th:fields="${id}" id="id" name="id" value="" autofocus="autofocus"
                    class="form-control form-control-sm" style="width: 50%;">
            </div>
            <br>

            <div class="form-group">
                <label>성명*:</label>
                <input type='text' class="form-control form-control-sm" name='name' id='name' value=''
                    required="required" placeholder="성명">
                <span id='name_msg'></span>

            <div class="content_body_bottom">
                <button type="button" onclick="send();" class="btn btn-secondary btn-sm">확인</button>
            </div>
        </form>
    </div>
</div>

</html>