<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
    <script>
        window.onload = () => {
            document.querySelector('#password').addEventListener('keypress', (event) => {
                // document.getElementById('passwd').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    document.getElementById('password2').focus();
                }
            });

            document.querySelector('#password2').addEventListener('keypress', (event) => {
                // document.getElementById('passwd').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    document.getElementById('tel').focus();
                }
            });

            document.querySelector('#tel').addEventListener('keypress', (event) => {
                // document.getElementById('passwd').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    document.getElementById('email').focus();
                }
            });

            document.querySelector('#email').addEventListener('keypress', (event) => {
                // document.getElementById('passwd').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    document.getElementById('address1').focus();
                }
            });

            document.querySelector('#address2').addEventListener('keypress', (event) => {
                // document.getElementById('passwd').addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    document.getElementById('btn_send').focus();
                }
            });
        }

        function send() { // 회원 가입 처리
            // 패스워드를 정상적으로 2번 입력했는지 확인
            let passwd = document.getElementById('password');
            let passwd_msg = document.getElementById('password_msg');
            let passwd2 = document.getElementById('password2');
            let passwd2_msg = document.getElementById('password2_msg');

            if (passwd.value != passwd2.value) {
                passwd2_msg.innerHTML = '입력된 패스워드가 일치하지 않습니다.';
                passwd2_msg.classList.add('span_warning');    // class 적용
                passwd.focus();  // 첫번째 패스워드로 focus 설정

                return false;  // 회원 수정 진행 중지
            }

            if (passwd.value == '') {
                passwd_msg.innerHTML = '패스워드를 입력은 필수입니다.';
                passwd_msg.classList.add('span_warning');    // class 적용
                passwd.focus();  // 첫번째 패스워드로 focus 설정

                return false;  // 회원 수정 진행 중지
            }

            if (passwd2.value = '') {
                passwd2_msg.innerHTML = '패스워드 확인 입력은 필수입니다.';
                passwd2_msg.classList.add('span_warning');    // class 적용
                passwd2.focus();  // 두번째 패스워드로 focus 설정

                return false;  // 회원 수정 진행 중지
            }

            let tel = document.getElementById('tel');
            let tel_msg = document.getElementById('tel_msg');

            if (tel.value.length == 0) {
                tel_msg.innerHTML = '전화 입력은 필수입니다.';
                tel_msg.classList.add('span_warning');    // class 적용
                tel.focus();

                return false;  // 회원 수정 진행 중지
            }

            let email = document.getElementById('email');
            let email_msg = document.getElementById('email_msg');

            if (email.value.length == 0) {
                email_msg.innerHTML = '이메일 입력은 필수입니다.';
                email_msg.classList.add('span_warning');    // class 적용
                email.focus();

                return false;  // 회원 수정 진행 중지
            }

            document.getElementById('frm').submit(); // required="required" 작동 안됨.
        }
    </script>
    <div style="display: flex; align-items: center; justify-content: space-between;">
      <div>
        <img src="/images/ic_modify_profile.svg" alt="Image" class="inline-block" style="width: 30px; height: 30px;">
        <h2 style="display: inline-block; vertical-align: middle;">회원 수정</h2>
      </div>
      <!-- 메뉴 선택 영역 -->
      <div style="display: flex; align-items: center; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
              <a href="/member/read_report" style="display: flex; align-items: center;">
                  <img src="/images/ic_report.png" alt="Image" class="inline-block" style="width: 20px; height: 20px;">
                  <label style="display: inline-block; vertical-align: middle; margin-left: 5px;">신고 내역</label>
              </a>
          </div>
          <div style="width: 1px; height: 20px; background-color: black; margin: 0 10px;"></div>
          <div style="display: flex; align-items: center;">
              <a href="/bookmark/list" style="display: flex; align-items: center;">
                  <img src="/images/ic_bookmarks_fill.svg" alt="Image" class="inline-block" style="width: 20px; height: 20px;">
                  <label style="display: inline-block; vertical-align: middle; margin-left: 5px;">북마크</label>
              </a>                
          </div>
          <div style="width: 1px; height: 20px; background-color: black; margin: 0 10px;"></div>
          <div style="display: flex; align-items: center;">
              <a href="/log/member" style="display: flex; align-items: center;">
                  <img src="/images/ic_stopwatch.svg" alt="Image" class="inline-block" style="width: 20px; height: 20px;">
                  <label style="display: inline-block; vertical-align: middle; margin-left: 5px;">로그인 내역</label>
              </a>                
          </div>
      </div>
    </div>
    
    <div class='menu_line'></div>
    <div>
        <form th:object="${memberVO}" id="frm" name="frm" method="post" action="/member/update">
            <input type="hidden" name="memberno" th:value="${memberVO.memberno}">
            <div>
                <div>
                    <label>아이디*</label>
                </div>
                <input type="text" th:fields="${id}" id="id" name="id" th:value="${memberVO.id}" autofocus="autofocus"
                    class="form-control form-control-sm" style="width: 50%; background-color: #b6b0b0;
                    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);
                    background-size: 4px 4px;
                    background-repeat: repeat;" readonly >
            </div>
            <br>

            <div class="form-group">
                <label>패스워드*</label>
                <input type='password' class="form-control form-control-sm" name='password' id='password' value=''
                    required="required" placeholder="패스워드" style="width: 50%;">
                <span id='passwd_msg'></span>
            </div>
            <br>

            <div class="form-group">
                <label>패스워드 확인</label>
                <input type='password' class="form-control form-control-sm" name='password2' id='password2' value=''
                    required="required" placeholder="패스워드" style="width: 50%;">
                <span id='passwd2_msg'></span>
            </div>
            <br>

            <div class="form-group">
                <label>닉네임*</label>
                <input type='text' class="form-control form-control-sm" name='nickname' id='nickname' th:value="${memberVO.nickname}"
                    required="required" placeholder="닉네임" style="width: 50%; background-color: #b6b0b0;
                    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 44%, rgba(255, 255, 255, 0.3) 45%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 56%, rgba(255, 255, 255, 0) 100%);
                    background-size: 4px 4px;
                    background-repeat: repeat;" readonly>
            </div>
            <br>

            <div class="form-group">
                <label>전화 번호:</label>
                <input type='text' class="form-control form-control-sm" name='tel' id='tel' value='' required="required"
                    placeholder="전화번호" style="width: 50%;">
                예) 01011112222
            </div>
            <br>
            

            <div class="form-group">
                <label>이메일:</label>
                <input type='text' class="form-control form-control-sm" name='email' id='email' value=''
                    required="required" placeholder="이메일">
                <span id='email_msg'></span>
            </div>
            <br>

            <div class="form-group">
                <label>우편 번호:</label>
                <input type='text' class="form-control form-control-sm" id='zipcode' value=''
                    placeholder="우편번호">
                <button type="button" id="btn_DaumPostcode" onclick="DaumPostcode()" class="btn btn-primary btn-sm" style="margin-top: 1%;">우편번호
                    찾기</button>
            </div>
            <!-- ------------------------------ DAUM 우편번호 API 시작 ------------------------------ -->
            <div>
                <div id="wrap"
                    style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                    <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                        style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                        onclick="foldDaumPostcode()" alt="접기 버튼">
                </div>

                <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                <script>
                    // 우편번호 찾기 찾기 화면을 넣을 element
                    var element_wrap = document.getElementById('wrap');

                    function foldDaumPostcode() {
                        // iframe을 넣은 element를 안보이게 한다.
                        element_wrap.style.display = 'none';
                    }

                    function DaumPostcode() {
                        // 현재 scroll 위치를 저장해놓는다.
                        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
                        new daum.Postcode({
                            oncomplete: function (data) {
                                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                var addr = ''; // 주소 변수
                                var extraAddr = ''; // 참고항목 변수

                                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                                    addr = data.roadAddress;
                                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                                    addr = data.jibunAddress;
                                }

                                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                document.getElementById('zipcode').value = data.zonecode; // 우편번호
                                document.getElementById("address1").value = addr;  // 주소

                                document.getElementById("address2").innerHTML = ""; // 상세 주소 지우기
                                // 커서를 상세주소 필드로 이동한다.
                                document.getElementById("address2").focus();  // 상세 주소로 포커스 이동

                                // iframe을 넣은 element를 안보이게 한다.
                                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                                element_wrap.style.display = 'none';

                                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                                document.body.scrollTop = currentScroll;
                            },
                            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
                            onresize: function (size) {
                                element_wrap.style.height = size.height + 'px';
                            },
                            width: '100%',
                            height: '100%'
                        }).embed(element_wrap);

                        // iframe을 넣은 element를 보이게 한다.
                        element_wrap.style.display = 'block';
                    }
                </script>

            </div>
            <!-- ------------------------------ DAUM 우편번호 API 종료 ------------------------------ -->
            <br>

            <div class="form-group">
                <label style="width: 100%;">주소:</label>
                <input type='text' class="form-control form-control-sm" name='address1' id='address1' value=''
                    placeholder="주소">
            </div>
            <br>

            <div class="form-group">
                <label style="width: 100%;">상세 주소:</label>
                <input type='text' class="form-control form-control-sm" name='address2' id='address2' value=''
                    placeholder="상세 주소">
            </div>
            <br>
            
            <br>

            <div class="content_body_bottom" style="text-align: right;">
                <button type="button" onclick="send();" class="btn btn-secondary btn-sm">수정</button>
                <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
            </div>
        </form>
    </div>
</div>

</html>