<!-- TEST HTML -->
<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, width=device-width" />
<!DOCTYPE html>
  <div>관리자 전용-커뮤니티 신고</div>
   
  <table style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>신고 번호</th>
      <th class='th_bs'>신고자 id</th>      
      <th class='th_bs'>신고 시간</th>
      <th class='th_bs'>내용</th>
    </tr>
   
    <!-- th:href="@{|./read?singono=${reportCommunityVO.singono}|}" -->
    <tr th:each="reportCommunityVO, status:${list}" th:attr="onclick=|location.href='/report_community/read?reportno=${reportCommunityVO.reportno}'|">
      <td style="text-align: center;"><a th:text="${reportCommunityVO.reportno}"></a></td>
      <td th:if="${status.index} < ${m_list.size()}" style="text-align: center;"><a th:text="${m_list[status.index].id}"></a></td>
      
      <td style="text-align: center;"><a th:text="${reportCommunityVO.rdate.substring(0, 16)}"></a></td>
      <td style="text-align: center;"><a th:text="${#strings.length(reportCommunityVO.contents) > 20 ? #strings.substring(reportCommunityVO.contents, 0, 20)+'...' : reportCommunityVO.contents}"></a></td>
      
      <!--
      <td >
        <a th:href="@{|./read?singono=${singoVO.singono}|}"><img src='/singo/images/update.png' title='수정' class="icon"></a>
        <a th:href="@{|./delete?singono=${singoVO.singono}|}"><img src='/singo/images/delete.png' title='삭제' class="icon"></a>
      </td>
      -->
      
    </tr>
  </table>
   
  <div class='bottom_menu'>
    <button type='button' onclick="location.reload();" class="btn btn-primary btn-sm">새로 고침</button>
    <button type='button' onclick="window.location.href='/admin';" class="btn btn-primary btn-sm">홈으로</button>
  </div>

</div>
</html>


