<!DOCTYPE html>
<html layout:decorate="~{layout}">
<div layout:fragment="content">
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${singoVO}" action='./create' enctype="multipart/form-data">
    <input type="hidden" name="trashno" th:value="${trashno}" />
    <input type="hidden" name="memberno" th:value="${memberno}" />
    <div>
       <label>내용</label>
       <textarea name='contents' required="required" class="form-control" rows="12" style='width: 100%;'></textarea>
    </div>
    <div>
      <label>이미지</label>
      <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div> 
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
    </div>
  
  </form>

</div>
</html>