<!-- 확인용 파일 지울 예정 -->
<!DOCTYPE html>


  <div style="font-weight: bold; width: 70%; border: none;
  margin: 30px auto;
  text-align: center;
  background-color: #FAFAFA;
  padding: 30px;">
    <fieldset class="fieldset_basic">
      <ul>
        <li th:switch="${code}" class="li_none">
          <div th:case="singo_success">
            <span style="font-weight: bold;
            background: url('/css/images/url5.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">수정요청 완료</span><br>
            <button type='button'
            th:attr="onclick=|location.href='/trash/trash_read?trashno=${trashno}'|"
                         class="btn btn-primary btn-sm">확인</button>
          </div>

          <div th:case="singo_fail">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">수정요청에 실패하였습니다.</span><br>
          </div>

          <div th:case="update_fail">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">수정에 실패했습니다.</span><br>
          </div>

          <div th:case="delete_fail">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">삭제에 실패했습니다.</span><br>
          </div>

          <div th:case="check_upload_file_fail">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">잘못된 파일 형식입니다.</span><br>
          </div>
          
          <div th:case="member_login_need">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">회원만 작성할 수 있습니다.</span><br>
            <a href="/member/login"> 로그인</a>
          </div>

          <div th:case="permission_error">
            <span style="font-weight: bold;
            background: url('/css/images/url8.png') left center no-repeat;
            background-size: 10px;
            padding-top: 0px;
            padding-left: 20px;
            margin-top: 2px; ">권한이 없습니다.</span><br>
            <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">닫기</button>
          </div>

          <li class="li_none">
            <div th:if="${cnt == 0}">
              <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">다시 시도</button>
            </div>
            <div th:if="${cnt == 1}">
              <button type="button" onclick="location.href='/admin'" class="btn btn-secondary btn-sm">닫기</button>
            </div>
          </li>
      </ul>
    </fieldset>
  </div>
</div>
</html>



