<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <form name='frm' method='post' th:object="${replyVO}" action='/reply/update' enctype="multipart/form-data">
    <input type="hidden" name="communityno" th:value="${communityno}">
    <input type="hidden" name="memberno" th:value="${session.memberno}">
    <input type="hidden" name="replyno" th:value="${replyno}">    
    
    <!-- 댓글 input 창 -->
    <div class="comment_input_container" style="margin: 10px 0 10px;">
        <div class="comment_input">
            <div>
              <img src="../images/ic_chat.svg" alt="댓글 아이콘" style="width: 30px; height: 30px;">
              <span>댓글내용</span>
            </div>
            <input type="text" name="contents" id="contents" required="required" placeholder="업데이트할 댓글 내용">
        </div>
    </div>
    <!-- 이미지 업로드 파일 창 -->
    <div class="file_upload_container" style="margin-top: 10px 0 10px;">
        <div class="file_upload">
            <div>
              <img src="../images/ic_upload_img.svg" alt="파일 업로드 아이콘" style="width: 30px; height: 30px;">
              <span>파일 업로드</span>
            </div>
            <input type="file" class="form-control" name='file1MF' id='file1MF' value='' placeholder="이미지 선택">
        </div>
    </div>
    <button type="submit" style="margin: 10px;">댓글 업데이트</button>
  </form>
</div>
</html>