<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  
  <!-- 검색 버튼 -->
  <div th:replace="~{search/search_component::search_fragment}"></div>
  
  <!-- ai 쓰레기 분류 -->
  <div class="ai_search">
    <div style="display: flex; align-items: center; justify-content: center;">
      <a href="#" style="font-family: 'Giants-Bold'; color: black;">
        <img src="images/ic_ai.svg" alt="Example Image">
        AI로 쓰레기 분류하기
      </a>
    </div>
  </div>
  
  <div class="second_header" style="margin-top: 50px; margin-bottom: 11px;">
    분리수거 방법 알아보기
  </div>
  <div th:replace="~{trash/slider_component::slider_fragment}"></div>
  
  <!-- 인기 쓰레기 순위-->
  <div class="second_header" style="margin-top: 20px; margin-bottom: 5px;">
    Today`s Hot 쓰레기
  </div>
  <!-- 인기 쓰레기 순위 표 -->
  <div th:replace="~{trash/list_hot_trash_component::list_hot_trash_fragment}"></div>

  <!-- 커뮤니티 글 -->
  <div class="community_header">
    커뮤니티
  </div>
  <div th:replace="~{community/list_menu_component::list_menu_fragment}"></div>
  
  <div class="second_header" style="padding-left: 10px; justify-content: start;">
    네프론 쓰레기 수거함
  </div>
  <div class="nefhorne_block">
    올바른 분리수거로<br>포인트를 얻어보세요!
  </div>

</div> <!-- container_main 종료 -->   

</html>

