<div th:fragment="navbarFragment">
    <nav>
      <div class="navbar">
        <!-- 왼쪽에 위치할 요소들 -->
        <div class="navbar_label">
          <div style="margin-right: 5px; height: auto;">
            <img src="images/ic_main.svg" alt="메인 아이콘">
          </div>
          <div style="text-align: center;">
            <span style="font-size: 24px;">쓰레기 박사</span>
          </div>
        </div>
        
        <!-- 메뉴 시작 -->
        <!-- 로그인 하지 않았을 때 -->
        <div class="navbar_menu">
          <!-- 오른쪽에 위치할 요소들 -->
          <div style="margin-right: 10px;">
            <a href="/">커뮤니티</a>
          </div>
          <div>
            <a href="/">네프론</a>
          </div>
        </div>
        
      </div>
      
    </nav>

  </div>