<div th:fragment="navbarFragment">
  <script>
    // 드롭다운 토글 함수
    function toggleDropdown() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // 드롭다운이 열려 있을 때, 사용자가 다른 곳을 클릭하면 닫히도록 설정
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>

  <nav>
    <div class="navbar">
      <!-- 왼쪽에 위치할 요소들 -->
      <a href="http://localhost:9093" style="text-decoration: none; color: inherit;">
        <div class="navbar_label">
          <div style="margin-right: 5px; height: auto;">
            <img src="/images/ic_main.svg" alt="메인 아이콘">
          </div>
          <div style="text-align: center;">
            <span style="font-size: 24px;">쓰레기 박사</span>
          </div>
        </div>
      </a>

      <!-- 메뉴 시작 -->
      <div class="navbar_menu">
      
        <!-- main.html 일때 -->
        <div>
          <a href="/community/main">커뮤니티</a>
        </div>
        
        <div>
          <a href="/nephron/nephron_list_all">네프론</a>
        </div>
        
        <!-- 로그인 했을 때 -->
        <div th:if="${session.id != null}">
          <div class="dropdown">
            <div onclick="toggleDropdown()" class="dropmenu">
              <span class="nav_nickname" style="text-decoration: none; " th:text="${session.nickname} + '님'"></span>
            </div>
            <div id="myDropdown" class="dropdown-content">
              <a href="/member/update">마이페이지</a>
              <a href="/member/logout">로그아웃</a>
            </div>
          </div>
        </div>
        
        <!-- 로그인 하지 않았을 때 -->
        <div th:if="${session.id == null}">
          <a href="/member/login">로그인</a>
        </div>
        </div>

      </div>

    </div>

  </nav>

</div>